flows (2).json
[{"id":"25e602df.0aa6ee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c700c45d.592ce8","type":"function","z":"25e602df.0aa6ee","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"OYkZ1ldsgpZyhZGYGwk6VLTaGDRsdLUDmtn_95UCydga\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":271.50000762939453,"y":397.0000057220459,"wires":[["ce312c24.4d466"]]},{"id":"ce312c24.4d466","type":"http request","z":"25e602df.0aa6ee","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":445.50000762939453,"y":397.2500057220459,"wires":[["29b71d0f.bc35e2"]]},{"id":"60f490d4.2a037","type":"debug","z":"25e602df.0aa6ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1119.9166221618652,"y":195.0833330154419,"wires":[]},{"id":"29b71d0f.bc35e2","type":"function","z":"25e602df.0aa6ee","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar ps = global.get('ps')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar ts = global.get('ts')\nvar ms = global.get('ms')\nvar pd = global.get('pd')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"198dc790-674c-4db5-a6ee-1a179ccbf693\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,ps,pr,sk,ts,ms,pd,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":652.5000076293945,"y":397.7500057220459,"wires":[["b9305de1.2eb8c"]]},{"id":"b9305de1.2eb8c","type":"http request","z":"25e602df.0aa6ee","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/4472343b-0e28-431b-a94d-121c76e718ce/predictions","tls":"","persist":false,"proxy":"","authType":"","x":847.2500152587891,"y":398.0000057220459,"wires":[["be2158c.1f8d3a8","60f490d4.2a037"]]},{"id":"7ce0a1d9.52721","type":"ui_form","z":"25e602df.0aa6ee","name":"","label":"","group":"f2ac9bd0.2dd358","order":0,"width":0,"height":0,"options":[{"label":"Preg","value":"pg","type":"number","required":true,"rows":null},{"label":"Plas","value":"ps","type":"number","required":true,"rows":null},{"label":"Pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"Test","value":"ts","type":"number","required":true,"rows":null},{"label":"Mass","value":"ms","type":"number","required":true,"rows":null},{"label":"Pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","ps":"","pr":"","sk":"","ts":"","ms":"","pd":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":123.75000381469727,"y":397.5000057220459,"wires":[["c700c45d.592ce8"]]},{"id":"b29764ee.dd5cd8","type":"ui_text","z":"25e602df.0aa6ee","group":"f2ac9bd0.2dd358","order":1,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":944.1000518798828,"y":546.4500188827515,"wires":[]},{"id":"be2158c.1f8d3a8","type":"function","z":"25e602df.0aa6ee","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":853.3500366210938,"y":271.3500061035156,"wires":[["b29764ee.dd5cd8"]]},{"id":"f2ac9bd0.2dd358","type":"ui_group","z":"","name":"Default","tab":"1b3c3d99.d261d2","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b3c3d99.d261d2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]